<section class="home-container">
  <div class="welcome">
    <h1>Welcome to your personal gallery</h1>
    <p>Store your images on the cloud to access them at any given time</p>

    <div class="buttons">
      <a href="/auth/login" class="btn">Log in</a>
      <a href="/auth/signup" class="btn">Sign up</a>
    </div>
  </div>
</section>
